@charset "UTF-8";
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #737373;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #4174c8;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  padding: 0;
  margin: 0 0 20px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    h2 {
      font-size: 44px;
      margin-bottom: 20px; } }

.btn-close {
  z-index: 999;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url("../svg/btn-close.svg") no-repeat 0 0;
  background-size: cover; }

.btn-close-two {
  z-index: 999;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url("../svg/btn-close.svg") no-repeat 0 0;
  background-size: cover; }
  @media (min-width: 992px) {
    .btn-close-two {
      top: 60px; } }

.fancybox-scroll {
  height: auto !important; }

.fancybox-skin {
  color: #4b4b4b;
  background: #f1f1f2; }
  .fancybox-skin.fancybox-transparent {
    background: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

.dropdown {
  position: relative; }
  .dropdown .dropdown-menu {
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    padding: 20px 40px 20px 10px; }
    .dropdown .dropdown-menu > li a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      transition: color 0.5s ease; }
      .dropdown .dropdown-menu > li a:hover {
        color: #4274C8; }
      .dropdown .dropdown-menu > li a.active {
        color: #4274C8; }
  .dropdown.open .dropdown-menu {
    display: block; }

.modal {
  position: relative;
  background: transparent; }
  .modal:before {
    top: 0;
    left: 9px;
    content: '';
    z-index: 200;
    width: 197px;
    height: 257px;
    display: none;
    position: absolute; }
  .modal.modal-valid:before {
    background: url("../img/modal-ok.png") 0 0 no-repeat; }
  .modal.modal-invalid:before {
    background: url("../img/modal-leave.png") 50% 0 no-repeat; }
  .modal .modal-content {
    position: relative;
    padding: 40px 30px;
    background: #fafafa; }
  .modal .modal-thanks {
    max-width: 420px;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 25px; }
  .modal a {
    font-size: 14px;
    line-height: 20px; }
  @media (min-width: 768px) {
    .modal .modal-content {
      padding: 45px 80px; }
    .modal .modal-thanks {
      font-size: 22px;
      margin-bottom: 26px; }
    .modal a {
      font-size: 16px;
      line-height: 22px; } }
  @media (min-width: 992px) {
    .modal {
      width: 726px;
      padding-top: 45px; }
      .modal:before {
        display: block; }
      .modal .modal-content {
        width: 726px;
        height: 212px;
        padding: 45px 80px 45px 230px; }
      .modal .modal-thanks {
        max-width: inherit; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 740px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1240px) {
    .container {
      width: 1200px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1240px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.btn {
  margin: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 15px;
  text-align: center;
  position: relative;
  background: #4174c8;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  touch-action: manipulation;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    color: #fff;
    background: #2655a3;
    text-decoration: none; }
  .btn:active {
    top: 1px; }
  @media (min-width: 1240px) {
    .btn {
      font-size: 20px;
      line-height: 30px;
      padding: 12px 30px; } }

.btn-purple {
  background: #ff2b7d; }
  .btn-purple:hover {
    background: #d5125e; }

.btn-transparent {
  color: #737373;
  padding: 10px 10px;
  background: transparent;
  border: solid 2px #737373; }
  .btn-transparent:hover {
    color: #fff;
    background-color: #737373; }

.form-control {
  margin: 0;
  width: 100%;
  color: #4d4d4d;
  outline: none;
  font-size: 14px;
  line-height: 19px;
  padding: 11px 10px;
  display: inline-block;
  background: #fafafa;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .form-control::-moz-placeholder {
    color: #4d4d4d;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #4d4d4d; }
  .form-control::-webkit-input-placeholder {
    color: #4d4d4d; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }
  .form-control.my-error {
    border-color: #ff0000; }

.red .form-control {
  border-color: #ff0000; }

.form-select-link {
  margin: 0;
  width: 100%;
  color: #4d4d4d;
  outline: none;
  font-size: 14px;
  line-height: 19px;
  padding: 11px 10px;
  display: inline-block;
  background: #fafafa url("../img/select.png") 100% 50% no-repeat;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important; }
  .form-select-link::-moz-placeholder {
    color: #4d4d4d;
    opacity: 1; }
  .form-select-link:-ms-input-placeholder {
    color: #4d4d4d; }
  .form-select-link::-webkit-input-placeholder {
    color: #4d4d4d; }
  .form-select-link select::-ms-expand {
    display: none; }
  .form-select-link option {
    background: #fafafa; }
  .form-select-link:disabled {
    opacity: 0.7;
    filter: alpha(opacity=70); }

.ik_select_list {
  color: #4d4d4d;
  background: #fafafa;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2; }
  .ik_select_list li {
    border-bottom: 1px solid #e2e2e2; }
    .ik_select_list li span {
      width: 100%;
      color: #4d4d4d;
      padding: 5px 10px;
      display: inline-block; }
    .ik_select_list li:hover span {
      color: #fff;
      background: #4174c8; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 15px; }

.form-radio .icr-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 4px 0 4px 30px; }
  .form-radio .icr-text:before {
    left: 0;
    top: 1px;
    content: '';
    width: 28px;
    height: 28px;
    display: block;
    background: transparent;
    position: absolute;
    border: 2px solid #e2e2e2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
.form-radio .checked .icr-text:after {
  left: 7px;
  top: 8px;
  content: '';
  width: 13px;
  height: 13px;
  display: block;
  background: #82d451;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
.form-radio label {
  position: relative;
  display: inline-block; }
.form-radio .icr-hidden {
  display: none; }
@media (min-width: 992px) {
  .form-radio .icr-text {
    padding: 0 0 0 22px; }
    .form-radio .icr-text:before {
      width: 20px;
      height: 20px; }
  .form-radio .checked .icr-text:after {
    left: 6px;
    top: 7px;
    width: 8px;
    height: 8px; } }

.form-checkbox .icr-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 22px; }
  .form-checkbox .icr-text:before {
    left: 0;
    top: 1px;
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    background: transparent;
    position: absolute;
    border: 2px solid #e2e2e2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
.form-checkbox .checked .icr-text:before {
  background: #fff url("../img/icon-check.png") 50% 50% no-repeat; }
.form-checkbox label {
  position: relative;
  display: inline-block; }
.form-checkbox .icr-hidden {
  display: none; }

@media (max-width: 480px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 1px solid #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive .table {
      margin-bottom: 0; } }
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1239px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1239px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1239px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1239px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1240px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1240px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1240px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1240px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1239px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1240px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
.svg-responsive svg {
  width: 100%;
  max-width: 100%; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.navbar {
  z-index: 999;
  background: #fff; }
  .navbar .navbar-header {
    padding: 10px 0; }
  .navbar .navbar-logo {
    float: left;
    color: #333;
    width: 112px;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10px; }
  .navbar .navbar-city {
    float: left;
    color: #262626;
    cursor: pointer;
    font-size: 12px;
    padding-top: 5px;
    line-height: 20px;
    z-index: 9999;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif; }
    .navbar .navbar-city .city-current {
      color: #000; }
      .navbar .navbar-city .city-current:hover {
        text-decoration: underline; }
  .navbar .navbar-toggle {
    color: #333;
    float: right;
    cursor: pointer;
    font-size: 24px;
    line-height: 30px; }
  .navbar .navbar-nav {
    left: 0;
    right: 0;
    top: 100%;
    padding: 10px 0;
    z-index: 1000;
    display: none;
    background: #fff;
    position: absolute; }
    .navbar .navbar-nav li a {
      width: 100%;
      padding: 10px 10px;
      color: #262626;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-family: "PT Sans Narrow", sans-serif; }
      .navbar .navbar-nav li a:hover {
        color: #4174c8; }
  @media (min-width: 768px) {
    .navbar .navbar-nav {
      margin-bottom: 0;
      background-color: rgba(255, 255, 255, 0.9); }
      .navbar .navbar-nav li {
        float: right; }
        .navbar .navbar-nav li a {
          font-size: 15px;
          line-height: 17px;
          padding: 9px 9px; } }
  @media (min-width: 992px) {
    .navbar {
      left: 0;
      right: 0;
      top: 40px;
      display: block;
      position: absolute;
      background: transparent; }
      .navbar .navbar-header {
        margin: 0;
        padding: 0;
        float: left;
        width: auto; }
      .navbar .navbar-logo {
        float: none;
        width: 150px;
        margin-bottom: 15px; }
      .navbar .navbar-city {
        float: none;
        font-size: 16px;
        line-height: 20px; }
      .navbar .navbar-toggle {
        display: none; }
      .navbar .navbar-nav {
        top: auto;
        left: auto;
        right: auto;
        width: auto;
        float: right;
        padding: 0;
        position: relative;
        display: block; }
        .navbar .navbar-nav li {
          float: right; }
          .navbar .navbar-nav li a {
            padding: 10px 15px 10px 14px;
            border-bottom: 2px solid #e6e6e6; }
            .navbar .navbar-nav li a:hover:before {
              left: 20px;
              right: 20px;
              bottom: -2px;
              content: '';
              position: absolute;
              border-bottom: 2px solid #4174c8; } }
  @media (min-width: 1240px) {
    .navbar .navbar-city {
      font-size: 16px;
      padding-top: 6px;
      line-height: 20px; }
    .navbar.navbar-conf.navbar-conf .navbar-logo {
      float: left;
      margin-right: 20px; }
    .navbar.navbar-conf.navbar-conf .navbar-city {
      float: left; } }

.header {
  width: 100%;
  max-width: 100%;
  overflow: hidden; }
  .header .header-slider {
    position: relative; }
    .header .header-slider .slider-image {
      height: 220px; }
    .header .header-slider .slider-item {
      border: none;
      outline: none;
      position: relative; }
      .header .header-slider .slider-item.item1 .slider-image {
        background: #e4eae0 url("../img/slide_01.jpg") 50% 0 no-repeat;
        background-size: cover; }
      .header .header-slider .slider-item.item2 .slider-image {
        background: #e4eae0 url("../img/slide_02.jpg") 50% 0 no-repeat;
        background-size: cover; }
      .header .header-slider .slider-item.item3 .slider-image {
        background: #e4eae0 url("../img/slide_03.jpg") 50% 0 no-repeat;
        background-size: cover; }
    .header .header-slider .header-nav {
      top: 88px;
      color: #fff;
      width: 44px;
      height: 44px;
      z-index: 200;
      outline: none;
      padding: 10px 0;
      cursor: pointer;
      font-size: 20px;
      line-height: 20px;
      position: absolute;
      text-align: center;
      border: solid 2px #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .header .header-slider .header-nav:hover {
        color: #4174c8;
        border-color: #4174c8; }
      .header .header-slider .header-nav.prev {
        left: 15px; }
      .header .header-slider .header-nav.next {
        right: 15px; }
    .header .header-slider .slick-dots {
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      list-style: none;
      text-align: center;
      position: absolute; }
      .header .header-slider .slick-dots li {
        padding: 0 5px;
        display: inline-block; }
        .header .header-slider .slick-dots li button {
          margin: 0;
          padding: 0;
          width: 14px;
          height: 14px;
          border: none;
          outline: none;
          background: #737373;
          opacity: 0.35;
          filter: alpha(opacity=35);
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
        .header .header-slider .slick-dots li.slick-active button {
          opacity: 1;
          filter: alpha(opacity=100); }
  .header .header-content {
    background: #fff;
    padding-top: 20px;
    position: relative;
    padding-bottom: 20px; }
    .header .header-content h1 {
      color: #4d4d4d;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 15px; }
    .header .header-content .text {
      color: #737373;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 25px; }
  .header .content {
    max-width: 480px; }
  @media (min-width: 768px) {
    .header .header-slider .slider-image {
      height: 500px; }
    .header .header-slider .slider-item.item1 .content {
      margin-left: 195px; }
    .header .header-slider .slider-item.item2 .slider-image {
      background-position: 84% 0; }
    .header .header-slider .slider-item.item2 .content {
      float: right;
      width: 380px;
      margin-left: 0; }
    .header .header-slider .slider-item.item3 .content {
      margin-left: 50px; }
    .header .header-slider .header-nav {
      top: 50%;
      margin-top: -22px; }
    .header .header-content {
      top: 100px;
      left: 0;
      right: 0;
      position: absolute;
      background: transparent; }
      .header .header-content h1 {
        font-size: 44px; }
      .header .header-content .text {
        padding-right: 80px; } }
  @media (min-width: 992px) {
    .header .header-slider .slider-image {
      height: 650px; }
    .header .header-slider .slider-item.item1 .slider-image {
      background-size: auto auto; }
    .header .header-slider .slider-item.item1 .content {
      margin-left: 280px; }
    .header .header-slider .slider-item.item2 .slider-image {
      background-position: 75% 0;
      background-size: auto auto; }
    .header .header-slider .slider-item.item2 .content {
      width: 480px; }
    .header .header-slider .slider-item.item3 .slider-image {
      background-size: auto auto; }
    .header .header-slider .slick-dots {
      left: 50%;
      bottom: 140px;
      width: 800px;
      margin-left: -400px; }
    .header .header-content {
      top: 200px; }
      .header .header-content h1 {
        font-size: 44px; } }
  @media (min-width: 1240px) {
    .header .header-slider .slider-item.item1 .slider-image {
      background-size: cover; }
    .header .header-slider .slider-item.item1 .content {
      margin-left: 440px; }
    .header .header-slider .slider-item.item2 .slider-image {
      background-position: 0 0; }
    .header .header-slider .slider-item.item2 .content {
      margin-left: 440px; }
    .header .header-slider .slider-item.item3 .slider-image {
      background-size: cover; }
    .header .header-slider .slider-item.item3 .content {
      margin-left: 80px; } }
  @media (min-width: 1400px) {
    .header .header-slider .header-nav.prev {
      left: 100px; }
    .header .header-slider .header-nav.next {
      right: 100px; } }

.header-conf {
  background: #fff; }
  @media (min-width: 992px) {
    .header-conf {
      height: 140px; } }
  @media (min-width: 1240px) {
    .header-conf {
      height: 120px; } }

.modal-sm {
  max-width: 300px;
  background: #fff;
  padding: 30px 35px; }
  .modal-sm h3 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 30px; }
  .modal-sm .city-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .modal-sm .city-list li {
      margin-bottom: 5px; }
      .modal-sm .city-list li a {
        font-size: 16px;
        line-height: 20px;
        text-decoration: none; }
      .modal-sm .city-list li.current a {
        color: #4d4d4d;
        font-weight: 700;
        cursor: default; }
  .modal-sm .btn-city {
    padding: 0;
    margin: 0 -10px;
    list-style: none; }
    .modal-sm .btn-city li {
      width: 100%;
      padding: 0 10px;
      text-align: center;
      margin-bottom: 15px; }
      .modal-sm .btn-city li:last-child {
        margin-bottom: 0; }
    .modal-sm .btn-city .btn {
      width: 100%; }
    .modal-sm .btn-city .btn-city-no {
      color: #000;
      background: transparent !important;
      border-color: transparent !important; }
      .modal-sm .btn-city .btn-city-no span {
        border-bottom: 1px dashed #000; }
  @media (min-width: 768px) {
    .modal-sm {
      width: 680px;
      max-width: inherit;
      padding: 30px 40px; }
      .modal-sm.modal-xs {
        width: 600px; }
      .modal-sm h3 {
        margin-bottom: 45px; }
      .modal-sm .city-list li {
        float: left;
        width: 33.33%;
        margin-bottom: 10px; }
        .modal-sm .city-list li a {
          font-size: 20px;
          line-height: 26px; }
      .modal-sm .btn-city li {
        float: left;
        margin-bottom: 0; }
        .modal-sm .btn-city li:first-child {
          width: 45%; }
        .modal-sm .btn-city li:last-child {
          width: 55%; }
      .modal-sm .btn-city .btn {
        font-size: 22px;
        line-height: 26px; } }

.footer {
  color: #4d4d4d;
  padding-top: 20px;
  padding-bottom: 30px;
  background: url("../img/footer__bg.jpg") 52% 0 no-repeat;
  background-size: cover; }
  .footer .content {
    max-width: 300px;
    margin-bottom: 160px; }
    .footer .content p {
      width: 240px; }
    .footer .content .btn {
      margin-top: 20px; }
  .footer .footer-bottom {
    position: relative; }
  .footer .footer-one li {
    margin-bottom: 30px; }
    .footer .footer-one li:first-child {
      width: 110px; }
    .footer .footer-one li:last-child {
      color: #fff;
      width: 150px;
      font-size: 16px;
      line-height: 20px; }
  .footer .footer-social {
    right: 20px;
    bottom: 0;
    font-size: 0;
    line-height: 0;
    position: absolute; }
    .footer .footer-social li {
      width: 48px;
      height: 48px;
      margin: 0 3px 10px 3px; }
      .footer .footer-social li a {
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 10px 0;
        font-size: 24px;
        text-align: center;
        display: inline-block;
        border: 2px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
  .footer .footer-dev {
    width: 120px;
    display: block; }
  @media (min-width: 480px) {
    .footer {
      background-position: 66% 0; } }
  @media (min-width: 768px) {
    .footer {
      background-position: 50% 0;
      background-size: auto auto;
      padding-top: 50px; }
      .footer .content {
        max-width: 400px; }
        .footer .content p {
          width: 100%; }
      .footer .footer-one {
        float: left;
        width: 430px;
        padding-top: 10px; }
        .footer .footer-one li {
          margin-bottom: 0; }
          .footer .footer-one li:first-child {
            float: right; }
          .footer .footer-one li:last-child {
            width: auto;
            float: left;
            color: #4d4d4d;
            padding-top: 5px; }
      .footer .footer-social {
        bottom: 80px; }
      .footer .footer-dev {
        float: right; } }
  @media (min-width: 992px) {
    .footer {
      padding-top: 100px;
      background-position: 50% -100px; }
      .footer .content {
        max-width: 680px;
        margin-bottom: 240px; }
        .footer .content p {
          padding-right: 50px; }
        .footer .content .btn {
          margin-top: 50px; }
      .footer h2 {
        margin-bottom: 35px; }
      .footer .footer-social {
        right: auto;
        bottom: auto;
        position: relative;
        float: left;
        margin-left: 140px; }
        .footer .footer-social li {
          float: left; } }

.promo {
  color: #fff;
  padding-top: 125px;
  padding-bottom: 25px;
  background: url("../img/b02__bg.jpg") 50% 0 no-repeat;
  background-size: cover; }
  .promo p {
    margin-bottom: 25px; }
  @media (min-width: 768px) {
    .promo {
      height: 650px;
      padding-top: 245px; }
      .promo p {
        margin-bottom: 55px; } }
  @media (min-width: 1240px) {
    .promo .content {
      margin-left: 50px; } }

.advantage {
  height: 500px;
  padding-top: 25px;
  margin-bottom: 25px;
  background: url("../img/b03__bg.jpg") 30% 0 no-repeat;
  background-size: cover; }
  .advantage h4 {
    color: #4d4d4d;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 15px; }
  .advantage p {
    margin-bottom: 0; }
  .advantage .adv-sm {
    width: 260px;
    height: 120px;
    position: relative; }
    .advantage .adv-sm .adv-item {
      border: none;
      outline: none; }
    .advantage .adv-sm .slick-dots {
      margin: 0;
      z-index: 200;
      font-size: 0;
      line-height: 0;
      list-style: none;
      text-align: left;
      padding: 10px 0 0 0; }
      .advantage .adv-sm .slick-dots li {
        margin: 0 4px;
        display: inline-block; }
        .advantage .adv-sm .slick-dots li button {
          padding: 0;
          width: 10px;
          height: 10px;
          border: none;
          outline: none;
          color: #737373;
          overflow: hidden;
          background: #737373;
          display: inline-block;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          opacity: 0.35;
          filter: alpha(opacity=35); }
          .advantage .adv-sm .slick-dots li button:hover {
            opacity: 1;
            filter: alpha(opacity=100); }
        .advantage .adv-sm .slick-dots li.slick-active button {
          color: #737373;
          background: #737373;
          opacity: 1;
          filter: alpha(opacity=100); }
  .advantage .adv-md {
    display: none; }
  @media (min-width: 768px) {
    .advantage {
      height: 600px;
      padding-top: 40px;
      margin-bottom: 40px;
      background-position: 50% 0; } }
  @media (min-width: 992px) {
    .advantage {
      padding-top: 30px;
      background: none;
      height: auto; }
      .advantage h4 {
        font-size: 34px; }
      .advantage .adv-sm {
        display: none; }
      .advantage .adv-md {
        display: block;
        height: 630px;
        position: relative;
        background: url("../img/b03__bg2.jpg") 50% 0 no-repeat;
        background-size: contain; }
        .advantage .adv-md li {
          position: absolute; }
          .advantage .adv-md li:before {
            content: '';
            position: absolute; }
          .advantage .adv-md li.item1 {
            top: 60px;
            left: 80px;
            width: 250px;
            text-align: right; }
            .advantage .adv-md li.item1:before {
              top: 80px;
              right: -70px;
              width: 60px;
              height: 72px;
              background: url("../img/b03__item_01.svg") 0 0 no-repeat;
              background-size: cover; }
          .advantage .adv-md li.item2 {
            top: 30px;
            right: 0;
            width: 350px; }
            .advantage .adv-md li.item2:before {
              top: 20px;
              left: -70px;
              width: 60px;
              height: 13px;
              background: url("../img/b03__item_02.svg") 0 0 no-repeat;
              background-size: cover; }
            .advantage .adv-md li.item2 p {
              width: 250px; }
          .advantage .adv-md li.item3 {
            left: 0;
            top: 240px;
            width: 220px;
            text-align: right; }
            .advantage .adv-md li.item3:before {
              top: 25px;
              right: -110px;
              width: 100px;
              height: 18px;
              text-decoration: none;
              background: url("../img/b03__item_03.svg") 0 0 no-repeat;
              background-size: cover; }
          .advantage .adv-md li.item4 {
            right: 15px;
            bottom: 55px;
            width: 250px; }
            .advantage .adv-md li.item4:before {
              top: 10px;
              left: -110px;
              width: 100px;
              height: 36px;
              background: url("../img/b03__item_04.svg") 0 0 no-repeat;
              background-size: cover; } }
  @media (min-width: 1240px) {
    .advantage .adv-md {
      height: 670px; }
      .advantage .adv-md h4 {
        font-size: 35px;
        margin-bottom: 20px; }
      .advantage .adv-md li.item1 {
        top: 60px;
        left: 80px; }
        .advantage .adv-md li.item1:before {
          top: 25px;
          right: -170px;
          width: 159px;
          height: 191px; }
      .advantage .adv-md li.item2 {
        top: 50px;
        right: 30px;
        width: 360px; }
        .advantage .adv-md li.item2 h4 {
          margin-right: -15px; }
        .advantage .adv-md li.item2:before {
          top: 10px;
          left: -140px;
          width: 129px;
          height: 29px; }
      .advantage .adv-md li.item3 {
        left: -10px;
        bottom: auto;
        top: 320px;
        width: 170px; }
        .advantage .adv-md li.item3:before {
          top: 0px;
          right: -225px;
          width: 214px;
          height: 39px; }
      .advantage .adv-md li.item4 {
        width: 345px; }
        .advantage .adv-md li.item4:before {
          top: -45px;
          left: -225px;
          width: 214px;
          height: 77px; } }

.gallery {
  padding-top: 20px;
  background: #fafafa;
  padding-bottom: 20px; }
  .gallery .gallery-heading {
    margin-bottom: 20px; }
  .gallery .gallery-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    position: relative;
    margin-bottom: 10px; }
    .gallery .gallery-title:before {
      right: 0;
      top: 5px;
      width: 25px;
      height: 25px;
      content: " ";
      position: absolute;
      display: inline-block;
      background: url("../img/instagram.svg") 0 0 no-repeat;
      background-size: cover; }
  @media (min-width: 768px) {
    .gallery {
      padding-top: 70px;
      padding-bottom: 70px; }
      .gallery .gallery-title {
        font-size: 44px;
        padding-left: 35px; }
        .gallery .gallery-title:before {
          left: 0;
          top: 15px;
          right: auto; }
      .gallery .gallery-text {
        padding-left: 35px; }
      .gallery .gallery-heading {
        margin-bottom: 50px; } }
  @media (min-width: 1240px) {
    .gallery .gallery-title {
      float: left; }
    .gallery .gallery-text {
      float: right;
      text-align: right;
      padding-top: 20px; } }

.info {
  padding-top: 40px;
  padding-bottom: 30px; }
  .info .tabs-nav {
    margin-bottom: 25px; }
    .info .tabs-nav li a {
      color: #4174c8;
      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
      border-bottom: 1px dashed #4174c8; }
    .info .tabs-nav li.active a {
      color: #4d4d4d;
      border-bottom-color: transparent; }
  .info .tabs-item {
    display: none; }
    .info .tabs-item.active {
      display: block; }
  @media (min-width: 768px) {
    .info {
      padding-top: 50px;
      padding-bottom: 40px; }
      .info .tabs-nav {
        margin: 0 -15px 40px -15px; }
        .info .tabs-nav li {
          float: left;
          padding: 0 15px; } }

.label {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px; }

.colors:before, .colors:after {
  content: " ";
  display: table; }
.colors:after {
  clear: both; }
.colors li {
  float: left;
  width: 25px;
  height: 25px;
  overflow: hidden;
  margin: 0 3px 6px 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .colors li label {
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .colors li label.checked:before {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      content: '';
      background: transparent;
      position: absolute;
      border: 3px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .colors li input[type="radio"] {
    display: none; }
  .colors li:last-child label {
    border-color: #e2e2e2; }
    .colors li:last-child label.checked:before {
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      content: '';
      background: transparent;
      position: absolute;
      border: 1px solid #e2e2e2;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }

.params-type {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .params-type li {
      margin-right: 10px;
      display: inline-block; } }

.params-size {
  margin: 0 -2px;
  font-size: 0;
  line-height: 0; }
  .params-size:before, .params-size:after {
    content: " ";
    display: table; }
  .params-size:after {
    clear: both; }
  .params-size li {
    float: left;
    width: 27px;
    height: 27px;
    margin: 0 2px 6px 2px; }
  .params-size .icr-text {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px; }
  .params-size label {
    width: 100%;
    height: 100%;
    padding: 4px 0;
    cursor: pointer;
    text-align: center;
    position: relative;
    display: inline-block;
    border: 2px solid #e2e2e2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .params-size label.checked {
      border-color: #4d4d4d; }
  .params-size .icr-hidden {
    display: none; }
  .params-size.my-error label {
    border-color: #ff0000; }

.btn-table {
  color: #4174c8;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none; }
  @media (min-width: 992px) {
    .btn-table {
      top: 28px;
      right: 0;
      position: absolute; } }

.product-type {
  display: none; }
  .product-type.active {
    display: block; }

.product-color {
  display: none; }
  .product-color.active {
    display: block; }

.params-footer li:first-child {
  color: #ff2b7d;
  font-size: 50px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 16px; }
@media (min-width: 768px) {
  .params-footer {
    width: 380px; }
    .params-footer li:first-child {
      float: right; }
    .params-footer li:last-child {
      float: left; } }

.delivery-row {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative; }
  .delivery-row > li:first-child {
    margin-right: 70px; }
  .delivery-row > li:last-child {
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    color: #ff2b7d;
    padding: 11px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    position: absolute; }

.form-group .btn-map {
  color: #000;
  font-size: 12px;
  line-height: 15px;
  display: none;
  text-decoration: underline; }
.form-group.view-map .btn-map {
  display: inline; }
@media (min-width: 992px) {
  .form-group.view-map .btn-map {
    display: none; } }

.product {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px dashed #9b9b9b; }
  .product .product-row {
    width: 100%;
    display: table; }
  .product .product-params {
    display: table-footer-group; }
  .product .product-visual {
    position: relative;
    display: table-header-group; }
    .product .product-visual.point .product-conf {
      display: none; }
    .product .product-visual.point .order-map {
      display: block; }
  .product.checkout .params {
    display: none; }
  .product.checkout .order {
    display: block; }
  @media (min-width: 992px) {
    .product {
      padding-top: 0;
      padding-bottom: 0; }
      .product .product-params {
        width: 40%;
        display: table-cell;
        vertical-align: top; }
      .product .product-visual {
        width: 60%;
        display: table-cell;
        vertical-align: bottom; }
        .product .product-visual.point {
          vertical-align: top; }
          .product .product-visual.point .product-conf {
            display: block; } }
  @media (min-width: 1240px) {
    .product .product-params {
      width: 40%;
      display: table-cell;
      vertical-align: middle; }
    .product .product-visual {
      width: 60%;
      display: table-cell;
      vertical-align: bottom; }
      .product .product-visual.point {
        vertical-align: top; } }

.params {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 420px; }
  .params .params-group {
    margin-bottom: 10px;
    position: relative; }
  .params h2 {
    display: none;
    color: #4d4d4d;
    margin-bottom: 15px; }
  .params .form-select {
    margin-bottom: 10px; }
  .params .faculty-switch.check .product-rotate {
    display: inline-block; }
  .params .faculty-switch.check .params-faculty {
    opacity: 1;
    filter: alpha(opacity=100); }
    .params .faculty-switch.check .params-faculty:before {
      display: none; }
  .params .product-rotate {
    top: 0;
    right: 0;
    color: #737373;
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    padding: 5px 0 5px 28px;
    display: none; }
    .params .product-rotate .rotate-icon {
      left: 0;
      top: 50%;
      width: 24px;
      height: 24px;
      margin-top: -12px;
      position: absolute; }
    .params .product-rotate svg {
      fill: #4174c8; }
    .params .product-rotate:hover svg {
      fill: #2655a3; }
  .params .params-faculty {
    display: block;
    position: relative;
    opacity: 0.5;
    filter: alpha(opacity=50); }
    .params .params-faculty:before {
      top: 0;
      left: 0;
      z-index: 200;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute; }
  .params .faculty {
    margin-bottom: 10px; }
  .params .params-type li {
    margin-bottom: 4px; }
    .params .params-type li:last-child {
      margin-bottom: 0; }
  @media (min-width: 992px) {
    .params h2 {
      display: block; }
    .params .params-faculty {
      width: 265px; }
    .params .product-rotate {
      top: 30px;
      width: 100px;
      padding-left: 30px; } }
  @media (min-width: 1240px) {
    .params .params-faculty {
      width: 310px; } }

.product-visual .product-type {
  margin: 0 auto; }
  .product-visual .product-type .product-back {
    display: none; }
  .product-visual .product-type .product-front {
    display: block; }
  .product-visual .product-type.rotate .product-back {
    display: block; }
  .product-visual .product-type.rotate .product-front {
    display: none; }
.product-visual .product-title-sm {
  color: #4d4d4d;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  background: #fff;
  padding-bottom: 20px; }
.product-visual.rotate .product-back {
  display: block; }
.product-visual.rotate .product-front {
  display: none; }
.product-visual .product-view {
  position: relative; }
.product-visual .product-print-item,
.product-visual .product-back-print-item {
  display: none; }
  .product-visual .product-print-item.active,
  .product-visual .product-back-print-item.active {
    display: block; }
.product-visual .product-back {
  position: relative; }
  .product-visual .product-back .product-print {
    left: 35%;
    right: 31%;
    top: 27%;
    position: absolute; }
.product-visual .product-front .product-print {
  left: 34%;
  right: 31%;
  top: 23%;
  position: absolute; }
.product-visual .product-bomber .product-back {
  position: relative; }
  .product-visual .product-bomber .product-back .product-print {
    left: 34%;
    right: 32%;
    top: 25%; }
.product-visual .product-bomber .product-front .product-print {
  left: 34%;
  right: 32%;
  top: 20%;
  position: absolute; }
.product-visual .product-sweatshirt .product-back {
  position: relative; }
  .product-visual .product-sweatshirt .product-back .product-print {
    left: 34%;
    right: 32%;
    top: 20%; }
.product-visual .product-sweatshirt .product-front .product-print {
  left: 34%;
  right: 32%;
  top: 20%;
  position: absolute; }
@media (min-width: 768px) {
  .product-visual .product-title-sm {
    font-size: 44px;
    line-height: 48px; } }
@media (min-width: 992px) {
  .product-visual .product-title-sm {
    display: none; } }

.modal-table {
  max-width: 750px;
  background: #f1f1f2;
  padding: 10px 20px 20px 20px; }
  .modal-table .tabs-nav {
    margin-bottom: 20px; }
    .modal-table .tabs-nav li a {
      color: #4174c8;
      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
      border-bottom: 1px dashed #4174c8; }
    .modal-table .tabs-nav li.active a {
      color: #4d4d4d;
      border-bottom-color: transparent; }
  .modal-table .tabs-item {
    display: none; }
    .modal-table .tabs-item.active {
      display: block; }
  .modal-table table {
    width: 100%; }
    .modal-table table th,
    .modal-table table td {
      color: #4b4b4b;
      width: 21.75%;
      padding: 10px;
      font-size: 14px;
      font-weight: 400;
      background: #fff;
      line-height: 18px;
      text-align: center;
      border: 1px solid #f1f1f2; }
      .modal-table table th:first-child,
      .modal-table table td:first-child {
        width: 13%; }
  @media (min-width: 768px) {
    .modal-table .tabs-nav {
      margin: 0 -15px 20px -15px; }
      .modal-table .tabs-nav li {
        float: left;
        padding: 0 15px; } }
  @media (min-width: 992px) {
    .modal-table {
      width: 750px; } }

.order {
  display: none;
  color: #737373;
  padding: 20px 0; }
  .order h2 {
    font-size: 24px; }
    .order h2 .price {
      color: #ff2b7d;
      letter-spacing: -3px; }
  .order .order-text {
    font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 30px; }
    .order .order-text p {
      margin-bottom: 10px; }
  .order .order-result {
    padding: 0;
    font-size: 0;
    margin: 0 -5px;
    line-height: 0;
    list-style: none; }
    .order .order-result li {
      padding: 0 5px;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle; }
      .order .order-result li span {
        float: left;
        height: 24px;
        padding: 2px 4px 2px 0;
        font-size: 14px;
        line-height: 18px;
        display: inline-block;
        vertical-align: middle; }
      .order .order-result li input[type='text'] {
        float: left;
        outline: none;
        width: 24px;
        height: 24px;
        padding: 2px 0;
        font-size: 0;
        font-weight: 400;
        line-height: 0;
        color: transparent;
        text-align: center;
        display: inline-block;
        border: solid 2px #e2e2e2;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        vertical-align: middle;
        -webkit-box-shadow: none;
        box-shadow: none; }
      .order .order-result li input[name='order-size'] {
        float: left;
        outline: none;
        width: 24px;
        height: 24px;
        color: #3e3e3e;
        padding: 2px 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        display: inline-block;
        border: solid 2px #e2e2e2;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        vertical-align: middle; }
  .order .btn {
    width: 100%; }
  .order .faculty-check {
    display: none; }
    .order .faculty-check.check {
      display: block; }
  @media (min-width: 1240px) {
    .order h2 {
      font-size: 36px;
      margin-bottom: 15px; } }

.order-map {
  z-index: 50;
  display: none;
  padding: 20px;
  background: #fff; }
  .order-map h2 {
    font-size: 24px; }
    .order-map h2 .price {
      color: #ff2b7d;
      letter-spacing: -3px; }
  .order-map p {
    font-size: 16px; }
  .order-map .place {
    color: #ff2b7d;
    font-weight: 700; }
  .order-map #map {
    padding-top: 30px;
    height: 300px;
    margin-bottom: 20px; }
  @media (min-width: 992px) {
    .order-map {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 40px 50px;
      position: absolute; }
      .order-map p {
        font-size: 18px; } }
  @media (min-width: 1240px) {
    .order-map {
      padding: 80px 50px; }
      .order-map h2 {
        font-size: 36px;
        margin-bottom: 15px; } }

.fil0 {
  fill: #045eaf; }

.str0 {
  stroke: #fff; }

/*# sourceMappingURL=main.css.map */
