* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 20px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


h2 {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 15px;

	@media (min-width: $screen-sm-min) {
		font-size: 44px;
		margin-bottom: 20px;
	}
}

.btn-close {
	z-index: 999;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: url("../svg/btn-close.svg") no-repeat 0 0;
	background-size: cover;
}

.btn-close-two {
	z-index: 999;
	position: absolute;
	right: 20px;
	top: 15px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: url("../svg/btn-close.svg") no-repeat 0 0;
	background-size: cover;

	@media (min-width: $screen-md-min) {
		top: 60px;
	}
}

.fancybox-scroll {
	height: auto !important;
}

.fancybox-skin {
	color: #4b4b4b;
	background: #f1f1f2;

	&.fancybox-transparent {
		background: transparent !important;
		@include box-shadow(none);
	}
}


.dropdown {
	position: relative;

	.dropdown-menu {
		display: none;
		background: #fff;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		float: left;
		min-width: 160px;
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		padding: 20px 40px 20px 10px;


		> li {

			a {
				display: block;
				padding: 3px 20px;
				clear: both;
				font-weight: 400;
				line-height: 1.42857143;
				color: #333;
				white-space: nowrap;
				text-transform: uppercase;
				font-size: 16px;
				letter-spacing: 1px;
				transition: color 0.5s ease;

				&:hover {
					color: #4274C8;
				}

				&.active {
					color: #4274C8;
				}
			}
		}
	}

	&.open {

		.dropdown-menu {
			display: block;
		}
	}
}


// Modal

.modal {
	position: relative;
	background: transparent;

	&:before {
		top: 0;
		left: 9px;
		content: '';
		z-index: 200;
		width: 197px;
		height: 257px;
		display: none;
		position: absolute;
	}

	&.modal-valid {

		&:before {
			background: url("../img/modal-ok.png") 0 0 no-repeat;
		}
	}

	&.modal-invalid {

		&:before {
			background: url("../img/modal-leave.png") 50% 0 no-repeat;
		}
	}

	.modal-content {
		position: relative;
		padding: 40px 30px;
		background: #fafafa;
	}

	.modal-thanks {
		max-width: 420px;
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 25px;
	}

	a {
		font-size: 14px;
		line-height: 20px;
	}

	@media (min-width: $screen-sm-min) {

		.modal-content {
			padding: 45px 80px;
		}

		.modal-thanks {
			font-size: 22px;
			margin-bottom: 26px;
		}

			a {
			font-size: 16px;
			line-height: 22px;

		}
	}

	@media (min-width: $screen-md-min) {
		width: 726px;
		padding-top: 45px;

		&:before {
			display: block;
		}

		.modal-content {
			width: 726px;
			height: 212px;
			padding: 45px 80px 45px 230px;
		}

		.modal-thanks {
			max-width: inherit;
		}
	}
}