.promo {
	color: #fff;
	padding-top: 125px;
	padding-bottom: 25px;
	background: url("../img/b02__bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	p {
		margin-bottom: 25px;
	}

	@media (min-width: $screen-sm-min) {
		height: 650px;
		padding-top: 245px;

		p {
			margin-bottom: 55px;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		.content {
			margin-left: 50px;
		}
	}
}


.advantage {
	height: 500px;
	padding-top: 25px;
	margin-bottom: 25px;
	background: url("../img/b03__bg.jpg") 30% 0 no-repeat;
	background-size: cover;

	h4 {
		color: #4d4d4d;
		font-size: 28px;
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: 15px;
	}

	p {
		margin-bottom: 0;
	}

	.adv-sm {
		width: 260px;
		height: 120px;
		position: relative;

		.adv-item {
			border: none;
			outline: none;
		}

		.slick-dots {
			margin: 0;
			z-index: 200;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: left;
			padding: 10px 0 0 0;

			li {
				margin: 0 4px;
				display: inline-block;

				button {
					padding: 0;
					width: 10px;
					height: 10px;
					border: none;
					outline: none;
					color: #737373;
					overflow: hidden;
					background: #737373;
					display: inline-block;
					@include border-radius(50%);
					@include opacity(0.35);

					&:hover {
						@include opacity(1);
					}
				}

				&.slick-active {

					button {
						color: #737373;
						background: #737373;
						@include opacity(1);
					}
				}
			}
		}
	}

	.adv-md {
		display: none;
	}

	@media (min-width: $screen-sm-min) {
		height: 600px;
		padding-top: 40px;
		margin-bottom: 40px;
		background-position: 50% 0;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 30px;
		background: none;
		height: auto;

		h4 {
			font-size: 34px;
		}

		.adv-sm {
			display: none;
		}

		.adv-md {
			display: block;
			height: 630px;
			position: relative;
			background: url("../img/b03__bg2.jpg") 50% 0 no-repeat;
			background-size: contain;

			li {
				position: absolute;

				&:before {
					content: '';
					position: absolute;
				}

				&.item1 {
					top: 60px;
					left: 80px;
					width: 250px;
					text-align: right;

					&:before {
						top: 80px;
						right: -70px;
						width: 60px;
						height: 72px;
						background: url("../img/b03__item_01.svg") 0 0 no-repeat;
						background-size: cover;
					}
				}

				&.item2 {
					top: 30px;
					right: 0;
					width: 350px;

					&:before {
						top: 20px;
						left: -70px;
						width: 60px;
						height: 13px;
						background: url("../img/b03__item_02.svg") 0 0 no-repeat;
						background-size: cover;
					}

					p {
						width: 250px;
					}
				}

				&.item3 {
					left: 0;
					top: 240px;
					width: 220px;
					text-align: right;

					&:before {
						top: 25px;
						right: -110px;
						width: 100px;
						height: 18px;
						text-decoration: none;
						background: url("../img/b03__item_03.svg") 0 0 no-repeat;
						background-size: cover;
					}
				}


				&.item4 {
					right: 15px;
					bottom: 55px;
					width: 250px;

					&:before {
						top: 10px;
						left: -110px;
						width: 100px;
						height: 36px;
						background: url("../img/b03__item_04.svg") 0 0 no-repeat;
						background-size: cover;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.adv-md {
			height: 670px;

			h4 {
				font-size: 35px;
				margin-bottom: 20px;
			}

			li {

				&.item1 {
					top: 60px;
					left: 80px;

					&:before {
						top: 25px;
						right: -170px;
						width: 159px;
						height: 191px;
					}
				}

				&.item2 {
					top: 50px;
					right: 30px;
					width: 360px;

					h4 {
						margin-right: -15px;
					}

					&:before {
						top: 10px;
						left: -140px;
						width: 129px;
						height: 29px;
					}
				}

				&.item3 {
					left: -10px;
					bottom: auto;
					top: 320px;
					width: 170px;

					&:before {
						top: 0px;
						right: -225px;
						width: 214px;
						height: 39px;
					}
				}


				&.item4 {
					width: 345px;

					&:before {
						top: -45px;
						left: -225px;
						width: 214px;
						height: 77px;
					}
				}
			}
		}
	}
}


.gallery {
	padding-top: 20px;
	background: #fafafa;
	padding-bottom: 20px;

	.gallery-heading {
		margin-bottom: 20px;
	}

	.gallery-title {
		font-size: 28px;
		font-weight: 700;
		line-height: 1.1;
		position: relative;
		margin-bottom: 10px;

		&:before {
			right: 0;
			top: 5px;
			width: 25px;
			height: 25px;
			content: " ";
			position: absolute;
			display: inline-block;
			background: url("../img/instagram.svg") 0 0 no-repeat;
			background-size: cover;
		}
	}

	.gallery-text {


		a {

		}
	}


	@media (min-width: $screen-sm-min) {
		padding-top: 70px;
		padding-bottom: 70px;

		.gallery-title {
			font-size: 44px;
			padding-left: 35px;

			&:before {
				left: 0;
				top: 15px;
				right: auto;
			}
		}

		.gallery-text {
			padding-left: 35px;
		}


		.gallery-heading {
			margin-bottom: 50px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.gallery-title {
			float: left;
		}

		.gallery-text {
			float: right;
			text-align: right;
			padding-top: 20px;
		}
	}
}


.info {
	padding-top: 40px;
	padding-bottom: 30px;

	.tabs-nav {
		margin-bottom: 25px;

		li {

			a {
				color: #4174c8;
				font-size: 22px;
				font-weight: 700;
				line-height: 26px;
				border-bottom: 1px dashed #4174c8;
			}

			&.active {
				a {
					color: #4d4d4d;
					border-bottom-color: transparent;
				}
			}
		}
	}

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {

		padding-top: 50px;
		padding-bottom: 40px;

		.tabs-nav {
			margin: 0 -15px 40px -15px;

			li {
				float: left;
				padding: 0 15px;
			}
		}
	}
}

