.footer {
	color: #4d4d4d;
	padding-top: 20px;
	padding-bottom: 30px;
	background: url("../img/footer__bg.jpg") 52% 0 no-repeat;
	background-size: cover;

	.content {
		max-width: 300px;
		margin-bottom: 160px;

		p {
			width: 240px;
		}

		.btn {
			margin-top: 20px;
		}
	}

	.footer-bottom {
		position: relative;
	}

	.footer-one {

		li {
			margin-bottom: 30px;

			&:first-child {
				width: 110px;
			}

			&:last-child {
				color: #fff;
				width: 150px;
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	.footer-social {
		right: 20px;
		bottom: 0;
		font-size: 0;
		line-height: 0;
		position: absolute;

		li {
			width: 48px;
			height: 48px;
			margin: 0 3px 10px 3px;

			a {
				color: #fff;
				width: 100%;
				height: 100%;
				padding: 10px 0;
				font-size: 24px;
				text-align: center;
				display: inline-block;
				border: 2px solid #fff;
				@include border-radius(50%);
			}
		}
	}

	.footer-dev {
		width: 120px;
		display: block;
	}


	@media (min-width: $screen-xs-min) {
		background-position: 66% 0;
	}

	@media (min-width: $screen-sm-min) {
		background-position: 50% 0;
		background-size: auto auto;
		padding-top: 50px;

		.content {
			max-width: 400px;

			p {
				width: 100%;
			}
		}

		.footer-one {
			float: left;
			width: 430px;
			padding-top: 10px;

			li {
				margin-bottom: 0;

				&:first-child {
					float: right;
				}

				&:last-child {
					width: auto;
					float: left;
					color: #4d4d4d;
					padding-top: 5px;
				}
			}
		}

		.footer-social {
			bottom: 80px;
		}

		.footer-dev {
			float: right;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 100px;
		background-position: 50% -100px;

		.content {
			max-width: 680px;
			margin-bottom: 240px;

			p {
				padding-right: 50px;
			}

			.btn {
				margin-top: 50px;
			}
		}

		h2 {
			margin-bottom: 35px;
		}

		.footer-social {
			right: auto;
			bottom: auto;
			position: relative;
			float: left;
			margin-left: 140px;

			li {
				float: left;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}