.navbar {
	z-index: 999;
	background: #fff;

	.navbar-header {
		padding: 10px 0;
	}

	.navbar-logo {
		float: left;
		color: #333;
		width: 112px;
		font-size: 28px;
		font-weight: 700;
		line-height: 30px;
		margin-right: 10px;
	}

	.navbar-city {
		float: left;
		color: #262626;
		cursor: pointer;
		font-size: 12px;
		padding-top: 5px;
		line-height: 20px;
		z-index: 9999;
		text-transform: uppercase;
		font-family: $font-narrow;

		.city-current {
			color: #000;

			&:hover {
				text-decoration: underline;
			}
		}

		.city-select {
		}
	}

	.navbar-toggle {
		color: #333;
		float: right;
		cursor: pointer;
		font-size: 24px;
		line-height: 30px;
	}

	.navbar-nav {
		left: 0;
		right: 0;
		top: 100%;
		padding: 10px 0;
		z-index: 1000;
		display: none;
		background: #fff;
		position: absolute;

		li {

			a {
				width: 100%;
				padding: 10px 10px;
				color: #262626;
				letter-spacing: 1px;
				font-size: 20px;
				font-weight: 400;
				line-height: 20px;
				text-align: center;
				position: relative;
				display: inline-block;
				text-transform: uppercase;
				font-family: $font-narrow;

				&:hover {
					color: #4174c8;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.navbar-nav {
			margin-bottom: 0;
			background-color: rgba(255, 255, 255, 0.9);

			li {
				float: right;

				a {
					font-size: 15px;
					line-height: 17px;
					padding: 9px 9px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		left: 0;
		right: 0;
		top: 40px;
		display: block;
		position: absolute;
		background: transparent;

		.navbar-header {
			margin: 0;
			padding: 0;
			float: left;
			width: auto;
		}

		.navbar-logo {
			float: none;
			width: 150px;
			margin-bottom: 15px;
		}

		.navbar-city {
			float: none;
			font-size: 16px;
			line-height: 20px;
		}

		.navbar-toggle {
			display: none;
		}

		.navbar-nav {
			top: auto;
			left: auto;
			right: auto;
			width: auto;
			float: right;
			padding: 0;
			position: relative;
			display: block;

			li {
				float: right;

				a {
					padding: 10px 15px 10px 14px;
					border-bottom: 2px solid #e6e6e6;

					&:hover {

						&:before {
							left: 20px;
							right: 20px;
							bottom: -2px;
							content: '';
							position: absolute;
							border-bottom: 2px solid #4174c8;
						}
					}
				}

			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.navbar-city {
			font-size: 16px;
			padding-top: 6px;
			line-height: 20px;
		}

		&.navbar-conf {
			&.navbar-conf {

				.navbar-logo {
					float: left;
					margin-right: 20px;
				}

				.navbar-city {
					float: left;
				}
			}
		}
	}
}

.header {
	width: 100%;
	max-width: 100%;
	overflow: hidden;

	.header-slider {
		position: relative;

		.slider-image {
			height: 220px;
		}

		.slider-item {
			border: none;
			outline: none;
			position: relative;

			&.item1 {

				.slider-image {
					background: #e4eae0  url("../img/slide_01.jpg") 50% 0 no-repeat;
					background-size: cover;
				}
			}

			&.item2 {

				.slider-image {
					background: #e4eae0  url("../img/slide_02.jpg") 50% 0 no-repeat;
					background-size: cover;
				}
			}

			&.item3 {

				.slider-image {
					background: #e4eae0  url("../img/slide_03.jpg") 50% 0 no-repeat;
					background-size: cover;
				}
			}

		}

		.header-nav {
			top: 88px;
			color: #fff;
			width: 44px;
			height: 44px;
			z-index: 200;
			outline: none;
			padding: 10px 0;
			cursor: pointer;
			font-size: 20px;
			line-height: 20px;
			position: absolute;
			text-align: center;
			border: solid 2px #fff;
			@include border-radius(50%);

			&:hover {
				color: #4174c8;
				border-color: #4174c8;
			}

			&.prev {
				left: 15px;
			}

			&.next {
				right: 15px;
			}
		}

		.slick-dots {

			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;
			position: absolute;

			li {
				padding: 0 5px;
				display: inline-block;


				button {
					margin: 0;
					padding: 0;
					width: 14px;
					height: 14px;
					border: none;
					outline: none;
					background: #737373;
					@include opacity(0.35);
					@include border-radius(50%);
				}

				&.slick-active {

					button {
						@include opacity(1);
					}
				}
			}
		}
	}

	.header-content {
		background: #fff;
		padding-top: 20px;
		position: relative;
		padding-bottom: 20px;

		h1 {
			color: #4d4d4d;
			font-size: 28px;
			font-weight: 700;
			line-height: 1.1;
			margin-bottom: 15px;
		}

		.text {
			color: #737373;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 25px;
		}
	}

	.content {
		max-width: 480px;
	}

	@media (min-width: $screen-sm-min) {

		.header-slider {

			.slider-image {
				height: 500px;
			}

			.slider-item {

				&.item1 {

					.content {
						margin-left: 195px;
					}
				}

				&.item2 {

					.slider-image {
						background-position: 84% 0;
					}

					.content {
						float: right;
						width: 380px;
						margin-left: 0;
					}
				}

				&.item3 {

					.content {
						margin-left: 50px;
					}
				}
			}

			.header-nav {
				top: 50%;
				margin-top: -22px;
			}
		}

		.header-content {
			top: 100px;
			left: 0;
			right: 0;
			position: absolute;
			background: transparent;

			h1 {
				font-size: 44px;
			}

			.text {
				padding-right: 80px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.header-slider {

			.slider-image {
				height: 650px;

			}

			.slider-item {

				&.item1 {

					.slider-image {
						background-size: auto auto;
					}

					.content {
						margin-left: 280px;
					}
				}

				&.item2 {

					.slider-image {
						background-position: 75% 0;
						background-size: auto auto;
					}

					.content {
						width: 480px;
					}
				}

				&.item3 {

					.slider-image {
						background-size: auto auto;
					}

					.content {

					}
				}
			}

			.slick-dots {
				left: 50%;
				bottom: 140px;
				width: 800px;
				margin-left: -400px;
			}
		}

		.header-content {
			top: 200px;

			h1 {
				font-size: 44px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.header-slider {

			.slider-item {

				&.item1 {

					.slider-image {
						background-size: cover;
					}

					.content {
						margin-left: 440px;
					}
				}

				&.item2 {

					.slider-image {
						background-position: 0 0;
					}

					.content {
						margin-left: 440px;
					}
				}

				&.item3 {

					.slider-image {
						background-size: cover;
					}

					.content {
						margin-left: 80px;
					}
				}
			}
		}
	}

	@media (min-width: 1400px) {

		.header-slider {

			.header-nav {


				&.prev {
					left: 100px;
				}

				&.next {
					right: 100px;
				}
			}
		}
	}
}

.header-conf {
	background: #fff;

	@media (min-width: $screen-md-min) {
		height: 140px;
	}

	@media (min-width: $screen-lg-min) {
		height: 120px;
	}
}


.modal-sm {
	max-width: 300px;
	background: #fff;
	padding: 30px 35px;

	h3 {
		color: #000;
		font-size: 30px;
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: 30px;
	}


	.city-list {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 5px;

			a {
				font-size: 16px;
				line-height: 20px;
				text-decoration: none;
			}

			&.current {

				a {
					color: #4d4d4d;
					font-weight: 700;
					cursor: default;
				}
			}
		}
	}

	.btn-city {
		padding: 0;
		margin: 0 -10px;
		list-style: none;

		li {
			width: 100%;
			padding: 0 10px;
			text-align: center;
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.btn {
			width: 100%;
		}

		.btn-city-no {
			color: #000;
			background: transparent !important;
			border-color: transparent !important;

			span {
				border-bottom: 1px dashed #000;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 680px;
		max-width: inherit;
		padding: 30px 40px;

		&.modal-xs {
			width: 600px;
		}

		h3 {
			margin-bottom: 45px;
		}

		.city-list {

			li {
				float: left;
				width: 33.33%;
				margin-bottom: 10px;

				a {
					font-size: 20px;
					line-height: 26px;
				}
			}
		}

		.btn-city {

			li {
				float: left;
				margin-bottom: 0;

				&:first-child {
					width: 45%;
				}

				&:last-child {
					width: 55%;
				}
			}

			.btn {
				font-size: 22px;
				line-height: 26px;
			}
		}
	}
}

