.label {
	color: #737373;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
}

.colors {
	@include clearfix();

	li {

		float: left;
		width: 25px;
		height: 25px;
		overflow: hidden;
		margin: 0 3px 6px 3px;
		@include border-radius(50%);

		label {
			width: 100%;
			height: 100%;
			outline: none;
			cursor: pointer;
			position: relative;
			display: inline-block;
			border: 1px solid transparent;
			@include border-radius(50%);

			&.checked {

				&:before {
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					content: '';
					background: transparent;
					position: absolute;
					border: 3px solid #fff;
					@include border-radius(50%);
				}
			}
		}

		input[type="radio"] {
			display: none;
		}

		&:last-child {

			label {
				border-color: #e2e2e2;

				&.checked {

					&:before {
						top: 4px;
						left: 4px;
						right: 4px;
						bottom: 4px;
						content: '';
						background: transparent;
						position: absolute;
						border: 1px solid #e2e2e2;
						@include border-radius(50%);
					}
				}
			}
		}
	}
}

.params-type {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;

	@media (min-width: $screen-sm-min) {

		li {
			margin-right: 10px;
			display: inline-block;
		}
	}
}

.params-size {
	margin: 0 -2px;
	font-size: 0;
	line-height: 0;
	@include clearfix();

	li {
		float: left;
		width: 27px;
		height: 27px;
		margin: 0 2px 6px 2px;
	}

	.icr-text {
		font-size: 11px;
		font-weight: 400;
		line-height: 15px;

	}

	label {
		width: 100%;
		height: 100%;
		padding: 4px 0;
		cursor: pointer;
		text-align: center;
		position: relative;
		display: inline-block;
		border: 2px solid #e2e2e2;
		@include border-radius(50%);

		&.checked {
			border-color: #4d4d4d;
		}

	}

	.icr-hidden {
		display: none;
	}

	&.my-error {

		label {
			border-color: #ff0000;
		}
	}
}

.btn-table {
	color: #4174c8;
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;


	@media (min-width: $screen-md-min) {

		top: 28px;
		right: 0;
		position: absolute;
	}
}

.product-type {
	display: none;

	&.active {
		display: block;
	}
}

.product-color {

	display: none;

	&.active {
		display: block;
	}
}

.params-footer {

	li {
		&:first-child {
			color: #ff2b7d;
			font-size: 50px;
			font-weight: 700;
			line-height: 54px;
			margin-bottom: 16px;
		}
	}


	@media (min-width: $screen-sm-min) {

		width: 380px;

		li {
			&:first-child {
				float: right;
			}

			&:last-child {
				float: left;
			}
		}
	}
}

.delivery-row {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;

	> li {

		&:first-child {
			margin-right: 70px;
		}

		&:last-child {
			top: 0;
			right: 0;
			width: 60px;
			height: 100%;
			color: #ff2b7d;
			padding: 11px 0;
			font-size: 20px;
			font-weight: 700;
			line-height: 20px;
			position: absolute;

		}
	}
}

.form-group {

	.btn-map {
		color: #000;
		font-size: 12px;
		line-height: 15px;
		display: none;
		text-decoration: underline;
	}

	&.view-map {

		.btn-map {
			display: inline;
		}
	}

	@media (min-width: $screen-md-min) {

		&.view-map {

			.btn-map {
				display: none;
			}
		}
	}
}



.product {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dashed #9b9b9b;

	.product-row {
		width: 100%;
		display: table;
	}

	.product-params {
		display: table-footer-group;
	}

	.product-visual {
		position: relative;
		display: table-header-group;

		&.point {

			.product-conf {
				display: none;
			}

			.order-map {
				display: block;
			}
		}

	}

	&.checkout {

		.params {
			display: none;
		}

		.order {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 0;
		padding-bottom: 0;

		.product-params {
			width: 40%;
			display: table-cell;
			vertical-align: top;
		}

		.product-visual {
			width: 60%;
			display: table-cell;
			vertical-align: bottom;

			&.point {
				vertical-align: top;

				.product-conf {
					display: block;
				}
			}

		}
	}


	@media (min-width: $screen-lg-min) {

		.product-params {
			width: 40%;
			display: table-cell;
			vertical-align: middle;
		}

		.product-visual {
			width: 60%;
			display: table-cell;
			vertical-align: bottom;

			&.point {
				vertical-align: top;
			}
		}
	}
}

.params {
	padding: 20px 0;
	margin: 0 auto;
	max-width: 420px;

	.params-group {
		margin-bottom: 10px;
		position: relative;
	}

	h2 {
		display: none;
		color: #4d4d4d;
		margin-bottom: 15px;
	}

	.form-select {
		margin-bottom: 10px;
	}

	.faculty-switch {

		&.check {

			.product-rotate {
				display: inline-block;
			}


			.params-faculty {
				@include opacity(1);

				&:before {
					display: none;
				}
			}
		}
	}

	.product-rotate {
		top: 0;
		right: 0;
		color: #737373;
		font-size: 14px;
		line-height: 15px;
		position: absolute;
		padding: 5px 0 5px 28px;
		display: none;

		.rotate-icon {
			left: 0;
			top: 50%;
			width: 24px;
			height: 24px;
			margin-top: -12px;
			position: absolute;
		}


		svg {
			fill: #4174c8;
		}

		&:hover {

			svg {
				fill: #2655a3;
			}
		}
	}

	.params-faculty {
		display: block;
		position: relative;
		@include opacity(0.5);

		&:before {
			top: 0;
			left: 0;
			z-index: 200;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}

	.faculty {
		margin-bottom: 10px;
	}

	.params-type {

		li {
			margin-bottom: 4px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

		h2 {
			display: block;
		}

		.params-faculty {
			width: 265px;
		}

		.product-rotate {
			top: 30px;
			width: 100px;
			padding-left: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {
		.params-faculty {
			width: 310px;
		}
	}
}

.product-visual {

	.product-type {
		margin: 0 auto;

		.product-back {
			display: none;
		}

		.product-front {
			display: block;
		}

		&.rotate {


			.product-back {
				display: block;
			}

			.product-front {
				display: none;
			}
		}
	}

	.product-title-sm {
		color: #4d4d4d;
		font-size: 28px;
		font-weight: 700;
		line-height: 30px;
		background: #fff;
		padding-bottom: 20px;
	}

	&.rotate {


		.product-back {
			display: block;
		}

		.product-front {
			display: none;
		}
	}

	.product-view {
		position: relative;
	}

	.product-print-item,
	.product-back-print-item {
		display: none;

		&.active {
			display: block;
		}
	}

	.product-back {
		position: relative;

		.product-print {
			left: 35%;
			right: 31%;
			top: 27%;
			position: absolute;
		}
	}


	.product-front {

		.product-print {
			left: 34%;
			right: 31%;
			top: 23%;
			position: absolute;
		}
	}

	.product-bomber {

		.product-back {
			position: relative;

			.product-print {
				left: 34%;
				right: 32%;
				top: 25%;
			}
		}

		.product-front {

			.product-print {
				left: 34%;
				right: 32%;
				top: 20%;
				position: absolute;
			}
		}
	}


	.product-sweatshirt {

		.product-back {
			position: relative;

			.product-print {
				left: 34%;
				right: 32%;
				top: 20%;
			}
		}

		.product-front {

			.product-print {
				left: 34%;
				right: 32%;
				top: 20%;
				position: absolute;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.product-title-sm {
			font-size: 44px;
			line-height: 48px;
		}
	}

	@media (min-width: $screen-md-min) {

		.product-title-sm {
			display: none;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}


// Таблица размеров

.modal-table {
	max-width: 750px;
	background: #f1f1f2;
	padding: 10px 20px 20px 20px;

	.tabs-nav {
		margin-bottom: 20px;

		li {

			a {
				color: #4174c8;
				font-size: 22px;
				font-weight: 700;
				line-height: 26px;
				border-bottom: 1px dashed #4174c8;
			}

			&.active {

				a {
					color: #4d4d4d;
					border-bottom-color: transparent;
				}
			}
		}
	}

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}
	}

	table {
		width: 100%;

		th,
		td {
			color: #4b4b4b;
			width: 21.75%;
			padding: 10px;
			font-size: 14px;
			font-weight: 400;
			background: #fff;
			line-height: 18px;
			text-align: center;
			border: 1px solid #f1f1f2;

			&:first-child {
				width: 13%;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.tabs-nav {
			margin: 0 -15px 20px -15px;

			li {
				float: left;
				padding: 0 15px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 750px;
	}
}


// ---------------------
// ОФормление заказа

.order {
	display: none;
	color: #737373;
	padding: 20px 0;

	h2 {
		font-size: 24px;

		.price {
			color: #ff2b7d;
			letter-spacing: -3px;
		}
	}

	.order-text {
		font-size: 14px;
		line-height: 18px;
		padding-top: 10px;
		padding-bottom: 30px;

		p {
			margin-bottom: 10px;
		}
	}

	.order-result {
		padding: 0;
		font-size: 0;
		margin: 0 -5px;
		line-height: 0;
		list-style: none;

		li {
			padding: 0 5px;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;

			span {
				float: left;
				height: 24px;
				padding: 2px 4px 2px 0;
				font-size: 14px;
				line-height: 18px;
				display: inline-block;
				vertical-align: middle;
			}

			input[type='text'] {
				float: left;
				outline: none;
				width: 24px;
				height: 24px;
				padding: 2px 0;
				font-size: 0;
				font-weight: 400;
				line-height: 0;
				color: transparent;
				text-align: center;
				display: inline-block;
				border: solid 2px #e2e2e2;
				@include border-radius(50%);
				vertical-align: middle;
				@include box-shadow(none);
			}


			input[name='order-size'] {
				float: left;
				outline: none;
				width: 24px;
				height: 24px;
				color: #3e3e3e;
				padding: 2px 0;
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
				text-align: center;
				display: inline-block;
				border: solid 2px #e2e2e2;
				@include border-radius(50%);
				vertical-align: middle;
			}
		}
	}

	.btn {
		width: 100%;
	}

	.faculty-check {
		display: none;

		&.check {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {

		h2 {
			font-size: 36px;
			margin-bottom: 15px;
		}
	}
}

.order-map {
	z-index: 50;
	display: none;
	padding: 20px;
	background: #fff;

	h2 {
		font-size: 24px;

		.price {
			color: #ff2b7d;
			letter-spacing: -3px;
		}
	}

	p {
		font-size: 16px;
	}

	.place {
		color: #ff2b7d;
		font-weight: 700;
	}

	#map {
		padding-top: 30px;
		height: 300px;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-md-min) {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 40px 50px;
		position: absolute;


		p {
			font-size: 18px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 80px 50px;

		h2 {
			font-size: 36px;
			margin-bottom: 15px;
		}
	}
}

.fil0 {
	fill: #045eaf;
}

.str0 {
	stroke: #fff;
}
