.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	padding: 12px 15px;
	text-align: center;
	position: relative;
	background: #4174c8;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include border-radius(3px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #2655a3;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 20px;
		line-height: 30px;
		padding: 12px 30px;
	}
}

.btn-purple {
	background: #ff2b7d;

	&:hover {
		background: #d5125e;
	}
}

.btn-transparent {
	color: #737373;
	padding: 10px 10px;
	background: transparent;
	border: solid 2px #737373;

	&:hover {
		color: #fff;
		background-color: #737373
	}
}