.form-control {
	margin: 0;
	width: 100%;
	color: #4d4d4d;
	outline: none;
	font-size: 14px;
	line-height: 19px;
	padding: 11px 10px;
	display: inline-block;
	background: #fafafa;
	border: 1px solid #e2e2e2;
	@include placeholder(#4d4d4d);
	@include border-radius(2px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}


	&.my-error {
		border-color: #ff0000;
	}
}


.red {

	.form-control {
		border-color: #ff0000;
	}
}

.form-select {

}

.form-select-link {
	margin: 0;
	width: 100%;
	color: #4d4d4d;
	outline: none;
	font-size: 14px;
	line-height: 19px;
	padding: 11px 10px;
	display: inline-block;
	background: #fafafa url("../img/select.png") 100% 50% no-repeat;
	border: 1px solid #e2e2e2;
	@include placeholder(#4d4d4d);
	@include border-radius(2px);

	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;


	select::-ms-expand {
		display: none;
	}

	option {
		background: #fafafa;
	}

	&:disabled {
		@include opacity(0.7);
	}
}

.ik_select_list {
	color: #4d4d4d;
	background: #fafafa;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;

	li {
		border-bottom: 1px solid #e2e2e2;

		span {
			width: 100%;
			color: #4d4d4d;
			padding: 5px 10px;
			display: inline-block;
		}

		&:hover {

			span {
				color: #fff;
				background: #4174c8;
			}
		}
	}
}


label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 15px;
}

.form-radio {


	.icr-text {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		cursor: pointer;
		display: inline-block;
		position: relative;
		padding: 4px 0 4px 30px;

		&:before {
			left: 0;
			top: 1px;
			content: '';
			width: 28px;
			height: 28px;
			display: block;
			background: transparent;
			position: absolute;
			border: 2px solid #e2e2e2;
			@include border-radius(50%);
		}
	}


	.checked {

		.icr-text {

			&:after {
				left: 7px;
				top: 8px;
				content: '';
				width: 13px;
				height: 13px;
				display: block;
				background: #82d451;
				position: absolute;
				@include border-radius(50%);
			}
		}
	}

	label {
		position: relative;
		display: inline-block;
	}

	.icr-hidden {
		display: none;
	}

	@media (min-width: $screen-md-min) {

		.icr-text {
			padding: 0 0 0 22px;

			&:before {
				width: 20px;
				height: 20px;
			}
		}

		.checked {

			.icr-text {

				&:after {
					left: 6px;
					top: 7px;
					width: 8px;
					height: 8px;
				}
			}
		}
	}
}

.form-checkbox {

	.icr-text {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		cursor: pointer;
		display: inline-block;
		position: relative;
		padding-left: 22px;

		&:before {
			left: 0;
			top: 1px;
			content: '';
			width: 18px;
			height: 18px;
			display: block;
			background: transparent;
			position: absolute;
			border: 2px solid #e2e2e2;
			@include border-radius(2px);
		}
	}

	.checked {

		.icr-text {

			&:before {
				background: #fff url("../img/icon-check.png") 50% 50% no-repeat;
			}
		}
	}

	label {
		position: relative;
		display: inline-block;
	}

	.icr-hidden {
		display: none;
	}

}