@media (max-width: 480px) {

	.table-responsive {
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		border: 1px solid #ddd;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.table {
			margin-bottom: 0;
		}
	}
}
